---
import GitHub from "./icons/GitHub.astro"
import React from "./icons/React.astro"
import Mysql from "./icons/Mysql.astro"
import Inertia from "./icons/Inertia.astro"
import Laravel from "./icons/Laravel.astro"
import Tailwind from "./icons/Tailwind.astro"
import CODEIGNITER from "./icons/Codeigniter.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Bootstrap from "./icons/Bootstrap.astro"
import Astrosvg from "./icons/Astrosvg.astro"
import AstroFrame from "./icons/AstroFrame.astro"
import Flask from "./icons/Flask.astro"

const TAGS = {
  FLASK: {
    name: "Flask",
    class: "bg-[#003159] text-white",
    icon: Flask,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#003159] text-white",
    icon: Laravel,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#003159] text-white",
    icon: Mysql,
  },
  INERTIA: {
    name: "Inertia",
    class: "bg-[#003159] text-white",
    icon: Inertia,
  },
  CODEIGNITER: {
    name: "Codeigniter",
    class: "bg-[#003159] text-white",
    icon: CODEIGNITER,
  },
  BOOTSTRAP: {
    name: "Bootstrap 5",
    class: "bg-[#003159] text-white",
    icon: Bootstrap,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: AstroFrame,
  },
  

}
const PROJECTS = [
{
    title: "Web Futuras Estrellas",
    description:
      "Desarrollé una página web para Futuras Estrellas con las secciones de Inicio (Noticias), Productos, Sedes y Pagos. Incluye un panel de administración con funcionalidades CRUD para gestionar noticias, productos y sedes.",
    link: "",
    github: "https://github.com/vadelgado/Futuras",
    image: "/projects/FuturasEstrellas.webp",
        tags: [TAGS.LARAVEL, TAGS.REACT, TAGS.TAILWIND, TAGS.INERTIA, TAGS.MYSQL],

  },
  {
    title: "ASUDEG",
    description:
      "Una Solución Tecnológica Para La Gestión De Torneos Deportivos En Alianza Sureña Grupo Empresarial.",
    link: "",
    github: "https://github.com/vadelgado/ASUDE",
    image: "/projects/ASUDEG.webp",
    tags: [TAGS.LARAVEL, TAGS.REACT, TAGS.TAILWIND, TAGS.INERTIA, TAGS.MYSQL],
  },
  {
    title: "Landing page Baby Futbol Masculino Funes",
    description:
      "Página de aterrizaje para el torneo de fútbol Funes, llevado a cabo en abril de 2024. Esta página web fue desarrollada con la finalidad de servir de prototipo para el aplicativo ASUDEG. Con la finalidad de recivir Retroalimentación de los usuarios.",
    link: "https://baby-futbol-masculino-funes.vercel.app/",
    github: "https://github.com/vadelgado/zonal-baby-futbol-masculino",
    image: "/projects/FunesLandinPage.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND,],
  },
  {
    title: "Bonita Peluquería",
    description:
      "Durante el décimo semestre, desarrollé junto con una compañera un sistema para la peluquería Mujer Bonita de Ipiales, aplicando la metodología SCRUM. Este sistema no solo da a conocer los servicios que ofrece la peluquería, sino que también gestiona los ingresos y egresos de manera eficiente.",
    link: "",
    github: "https://github.com/vadelgado/bonitaPeluqueria",
    image: "/projects/BonitaPeluqueria.webp",
        tags: [TAGS.LARAVEL, TAGS.BOOTSTRAP, TAGS.MYSQL],

  },
  {
    title: "softAbraham2023",
    description:
      "Desarrollé en 9 semestre un sistema de gestión escolar para generar boletines en PDF de los cuatro periodos académicos. Desarrollado con SCRUM en colaboración con el Colegio Siglo XXI de Ipiales y otra compeñera de la Universidad este incluye módulos para gestionar usuarios, cursos, matrícula, boletines, docentes, estudiantes y calificaciones.",
    link: "",
    github: "https://github.com/vadelgado/softAbraham2023",
    image: "/projects/softAbraham2023.webp",
        tags: [TAGS.CODEIGNITER, TAGS.BOOTSTRAP, TAGS.MYSQL],

  },
  {
    title: "Seteagrop",
    description:
      "Desarrollé en 8 semestre un sistema para la empresa SETEAGROP, que se dedica a la comercialización de productos agrícolas. Este sistema permite gestionar los productos, clientes, simula la ventas de productos. lo desarrolle con SCRUM. trabajando con otra compeñera la cual tenia el rol de Scrum Master.",
    link: "",
    github: "https://github.com/vadelgado/Seteagrop",
    image: "/projects/Seteagro.webp",
        tags: [TAGS.FLASK, TAGS.BOOTSTRAP, TAGS.MYSQL],

  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Mockup" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-wrap mb-2 gap-x-2">
          {tags.map((tag) => (
            <li class=" mb-2">
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



